<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>GeekBrains - FORM</title>
    </head>
    <body>
        <table>
            <thead>
            <tr>
                <td>Id</td>
                <td>Бренд</td>
                <td>Год производства</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="s : ${cars}">
                <td th:text="${s.id}"></td>
                <td th:text="${s.brand}"></td>
                <td th:text="${s.production_year}"></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>